// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @import "bootstrap";


.card-body {
       margin-left:25px;
       width:100%;
     }
  
  body {
    margin: 0;
    padding: 0;
    // background-color: #17a2b8;
    height: 100vh;
  }